/* Estilos principais para o layout da página */
#mainTaskManager {
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow-y: auto; 
}

/* Container que engloba as tarefas e o conteúdo principal */
#containerAllTask {
    width: 95%;
    height: auto; 
    margin-top: 10vh;
    border-radius: 35px;
    padding: 25px 0;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

/* Navegação entre as seções 'Todos' e 'Quadro' */
#navAllTask {
    /* Seleção do primeiro item da navegação (destaque visual) */
    .itemNavTask:nth-child(2) {
        color: black;
        border-bottom: 5px solid black;
    }
}

/* Estilos para a tabela de tarefas */
#tableTasks {
    // background-color: blue;
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.quadroManager{
    padding-bottom: 100px;
}

#container{
    // background-color: rgb(255, 156, 156);
    border-radius: 15px;
    padding: 10px;
    color: white;

    h3{
        color: black;
    }

    a{
        color: white;
    }

    .tarefas{
        // border: 2px solid yellow;
        margin-left: 2px;
    }

    .responsavel{
        max-width: 70px;
    }

    .alta{
        background-color: #a61010;
        padding: 3px 8px;
        border-radius: 4px;
        max-width: 46px;
        margin-left: 5px;
        font-family: 'Arimo';
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }

    .media{
        background-color: #965f00;
        padding: 3px 8px;
        border-radius: 4px;
        max-width: 57px;
        margin-left: 5px;
        font-family: 'Arimo';
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }

    .baixa{
        background-color: #1c7820;
        padding: 3px 8px;
        border-radius: 4px;
        max-width: 55px;
        margin-left: 5px; 
        font-family: 'Arimo';
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }
}

//Estilos para a aba de FAZER
.taskFazer{
    background-color: #ff0000;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px 0;
}

//Estilos para a aba de Andamento
.taskAndamento{
    background-color: #ffa100;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px 0;
}

//Estilos para a aba de concluida
.taskConcluida{
    background-color: #00a007;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px 0;
}

//Estilos para a aba de arquivados
.taskArquivada{
    background-color: #535353;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px 0;
}

#headerFazer{
    display: flex;
    width: 100%;
    gap: 15px;
    // max-height: ;
    // background-color: #676767;
    font-family: "Arimo";
    font-weight: 700;
    text-align: center;
}

.fazer{
    background-color: #f58383;
}

.andamento{
    background-color: #ffd895;
}

.concluida{
    background-color: #c6ffc9;
}

.arquivada{
    background-color: #cecece;
}

div.fazer{
    width: 24.5%;
    min-width: 276px;
}

div.andamento{
    width: 24.5%;
    min-width: 276px;
}

div.concluida{
    width: 24.5%;
    min-width: 276px;
}

div.arquivada{
    width: 24.5%;
    min-width: 276px;
}

//Estilos para os botões de adicionar tarefa
#AddFazer{
    background-color: #f58383;
    display: flex;
    align-items: center;
    height: 50px;
    border: 5px solid #ff0000;
    border-radius: 10px;
    padding-left: 15px;
    gap: 5px;
}

#container.fazer{
    position: relative;

    #linkAddFazer{
        position: absolute;
        top: 103%;
        left: 1%;
        width: 98%;
        color: black;
        text-decoration: none;
        font-family: 'Poppins';
        font-size: 12px;

        i{
            font-size: 25px;
        }
    }
}


#AddAndamento{
    background-color: #ffd895;
    display: flex;
    align-items: center;
    height: 50px;
    border: 5px solid #ffa100;
    border-radius: 10px;
    padding-left: 15px;
    gap: 5px;
}

#container.andamento{
    position: relative;

    #linkAddAndamento{
        position: absolute;
        top: 102%;
        left: 1%;
        width: 98%;
        color: black;
        text-decoration: none;
        font-family: 'Poppins';
        font-size: 12px;

        i{
            font-size: 25px;
        }
    }
}


#AddConcluida{
    background-color: #c6ffc9;
    display: flex;
    align-items: center;
    height: 50px;
    border: 5px solid #00a007;
    border-radius: 10px;
    padding-left: 15px;
    gap: 5px;
}

#container.concluida{
    position: relative;

    #linkAddConcluida{
        position: absolute;
        top: 103%;
        left: 1%;
        width: 98%;
        color: black;
        text-decoration: none;
        font-family: 'Poppins';
        font-size: 12px;

        i{
            font-size: 25px;
        }
    }
}


#AddArquivada{
    background-color: #cecece;
    display: flex;
    align-items: center;
    height: 50px;
    border: 5px solid #535353;
    border-radius: 10px;
    padding-left: 15px;
    gap: 5px;
}

#container.arquivada{
    position: relative;

    #linkAddArquivada{
        position: absolute;
        top: 105%;
        left: 1%;
        width: 98%;
        color: black;
        text-decoration: none;
        font-family: 'Poppins';
        font-size: 12px;

        i{
            font-size: 25px;
        }
    }
}











span.fazer{
    background-color: #e80707;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 15px;
}

span.andamento{
    background-color: #e89507;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 15px;
    white-space: nowrap;
}

span.concluida{
    background-color: #2bb631;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 15px;
}

span.arquivada{
    background-color: #676767;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 15px;
}

@media (max-width: 1200px){
    div.fazer{
        margin: 0 5px;    
    }
    
    div.andamento{
        margin: 0 5px;    
        
    }
    
    div.concluida{
        margin: 0 5px;    
        
    }
    
    div.arquivada{
        margin: 0 5px;    
        
    }
    
    .quadroManager{
        padding: 25px 0 25px 4px !important;
    }
}




