#header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

/* Seleção do ícone e área de 'sair' */
#sair {
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Arimo';
    font-size: 25px;

    i {
        margin-top: 3px;
    }

    a {
        all: unset;
    }
}

#sair:hover {
    color: black;
}

/* Estilos principais para o layout da página */
#mainTaskManager {
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionHeader{
    margin-right: 25px;
}

/* Cabeçalho que contém o título e a área de 'sair' */
#headerAllTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arimo';
    font-size: 25px;
    color: $main;

    h1 {
        display: inline;
    }

    a {
        // margin-right: auto;
        margin-left: 50px;
        text-decoration: none;
        color: white;
        background-color: #676767;
        padding: 0 5px;
        border-radius: 8px;
        border: 2px solid black;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 18px;
    }
}



#headerAllTask a:nth-of-type(2) {
    margin-right: auto;
    margin-left: 10px;
}

/* Navegação entre as seções 'Todos' e 'Quadro' */
#navAllTask {
    display: flex;
    gap: 100px;
    font-size: 25px;
    margin-top: 35px;
    border-bottom: 3px solid $main;
    font-family: 'Arimo';
    font-weight: 700;
    color: $main;
    cursor: pointer;
    // margin-right: 25px;

    a {
        all: unset;
        display: flex;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
    }

    i {
        font-size: 30px;
    }

    /* Seleção do primeiro item da navegação (destaque visual) */
    .itemNavTask:first-child {
        color: black;
        border-bottom: 5px solid black;
    }
}

/* Estilos para a tabela de tarefas */
#tableTasks {
    // background-color: blue;
    margin-top: 50px;
    overflow-x: scroll;
    // background-color: red;
}

/* Estilos gerais para a tabela de tarefas */
#tasks {
    // background-color: rgb(255, 162, 162);
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 2px solid $main;
    }

    /* Estilos para as células da tabela, exceto a última */
    td:not(:last-child) {
        border-right: 2px solid $main;
    }

    td {
        padding: 3px 0;
    }

    td:last-child {
        padding-left: 5px;
    }
}

/* Cabeçalho da tabela (nome das colunas) */
#tableTitle {
    color: $main;
    text-align: left;
    font-family: "Open Sans";


    th {
        padding-left: 5px;
        padding-bottom: 4px;
    }

    /* Estilos para as células de cabeçalho, exceto a última */
    th:not(:last-child) {
        border-right: 2px solid $main;
    }

    /* Definições de largura para as colunas da tabela */
    .tarefas {
        width: 30%;
        min-width: 330px;
    }

    .status {
        width: 10%;
        min-width: 129px;
    }

    .responsavel {
        width: 10%;
        min-width: 115px;
    }

    .prazo {
        width: 10%;
        min-width: 113px;
    }

    .prioridade {
        width: 10%;
        min-width: 114px;
    }

    .descricao {
        width: 30%;
        min-width: 337px;
    }
}

/* Seleciona todos os cabeçalhos <th>, exceto o primeiro e o último */
#tableTasks tr th:not(:first-child):not(:last-child) {
    text-align: center;
    padding-right: 5px;
}


/* Seleção da célula de descrição para limitar a largura e adicionar efeito de truncamento */
#tasks td.descricao {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#tasks td.call {
    white-space: normal;
    line-height: 25px;
}

/* Estilo da célula de tarefas, que inclui links */
.tarefas:not(th) {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 15px;

    a {
        color: black;
    }
}

// Criando estilos para "A FAZER / EM ANDAMENTO / CONCLUIDA / ARQUIVADA"
.status:not(th) {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 15px;
    color: white;
    text-align: center;

    // span.fazer{
    //     background-color: #e80707;
    //     padding: 2px 10px;
    //     border-radius: 15px;
    //     font-size: 15px;
    // }

    // span.andamento{
    //     background-color: #e89507;
    //     padding: 2px 10px;
    //     border-radius: 15px;
    //     font-size: 15px;
    // }

    // span.concluida{
    //     background-color: #2bb631;
    //     padding: 2px 10px;
    //     border-radius: 15px;
    //     font-size: 15px;
    // }

    // span.arquivada{
    //     background-color: #676767;
    //     padding: 2px 10px;
    //     border-radius: 15px;
    //     font-size: 15px;
    // }
}

//Estilizando a coluna de responsavel sem pegar o titulo
.responsavel:not(th) {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    text-align: center;

    a {
        color: inherit;
    }
}

//Estilizando a coluna de prazo sem pegar o titulo
.prazo:not(th) {
    text-align: center;

    span {
        font-family: "Arimo";
        font-size: 14px;
        background-color: $main;
        border-radius: 15px;
        padding: 2px 8px;
        color: white;
    }
}

//Estilizando a coluna de prioridade sem pegar o titulo
.prioridade:not(th) {
    font-family: 'Arimo';
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-align: center;

    .alta {
        background-color: #a61010;
        padding: 3px 8px;
        border-radius: 4px;
    }

    .media {
        background-color: #965f00;
        padding: 3px 8px;
        border-radius: 4px;
    }

    .baixa {
        background-color: #1c7820;
        padding: 3px 8px;
        border-radius: 4px;
    }
}

//Estilizando a coluna de descrição sem pegar o titulo
.descricao:not(th) {
    font-family: 'Arimo';
    font-weight: 700;
    font-size: 13px;
}


@media (max-width: 1050px) {
    #headerAllTask {
        // h1 {
        //     width: 250px;
        // }

        a {
            margin-left: 10px;
        }
    }

    #tableTitle {
        .tarefas {
            width: 40%;
        }

        .status {
            width: 10%;
        }

        .responsavel {
            width: 10%;
        }

        .prazo {
            width: 10%;
        }

        .prioridade {
            width: 10%;
        }

        .descricao {
            width: 30%;
        }
    }
}

@media (max-width: 886px) {
    #headerAllTask {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h1 {
            text-align: center;
        }
    }

    #linksHeader {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    #headerAllTask a {
        margin: 0;
    }

    #headerAllTask a:nth-of-type(2) {
        margin-right: 0;
        margin-left: 0;
    }

    #tableTitle {
        .tarefas {
            width: 20%;
            min-width: 250px;
        }

        .status {
            width: 10%;
            min-width: 150px;
        }
    }

    #containerAllTask{
        padding-right: 0px !important;
    }

    #navAllTask{
        gap: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 375px) {
    #header {
        flex-direction: column;
        // justify-content: normal;
        height: 140px;
    }

    #navAllTask{
        font-size: 15px;
        border-bottom: 2px solid $main;

        .itemNavTask:first-child {
            color: black;
            border-bottom: 2px solid black;
        }
    }
}