@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" normal;
}

.arimo {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

$main: #676767;

$background: #e2e2e2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./partials/login";
@import "./partials/taskManager";