@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" normal;
}

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ed1c24;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
header img {
  width: 200px;
}

#mainIndex {
  width: 100%;
  height: 90vh;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerLogin {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 25px;
  padding: 25px;
}
#containerLogin h1 {
  font-family: "Arimo";
  color: #676767;
  margin-bottom: 70px;
}

#input1,
#input2 {
  background-color: #c2c2c2;
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 21px;
  margin-bottom: 20px;
  border-radius: 35px;
  color: #676767;
}
#input1 i,
#input2 i {
  font-size: 18px;
}
#input1 input,
#input2 input {
  all: unset;
  width: 87%;
  height: 100%;
  border-radius: 35px;
  font-family: "Open Sans";
  font-weight: 700;
  padding-left: 2px;
  padding-right: 5px;
}

#btnEntrar {
  background-color: #35d11b;
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnEntrar:hover {
  background-color: #36a523;
}

/* Estilos principais para o layout da página */
#mainTaskManager {
  width: 100%;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container que engloba as tarefas e o conteúdo principal */
#containerAllTask {
  width: 95%;
  height: 90vh;
  margin-top: 10vh;
  border-radius: 35px;
  padding: 25px;
  background-color: white;
}

/* Cabeçalho que contém o título e a área de 'sair' */
#headerAllTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arimo";
  font-size: 25px;
  color: #676767;
  /* Seleção do ícone e área de 'sair' */
}
#headerAllTask #sair {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
#headerAllTask #sair i {
  margin-top: 3px;
}
#headerAllTask #sair a {
  all: unset;
}
#headerAllTask #sair:hover {
  color: black;
}
#headerAllTask a {
  margin-right: auto;
  margin-left: 50px;
  text-decoration: none;
  color: white;
  background-color: #676767;
  padding: 0 5px;
  border-radius: 8px;
  border: 2px solid black;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
}

/* Navegação entre as seções 'Todos' e 'Quadro' */
#navAllTask {
  display: flex;
  gap: 100px;
  font-size: 25px;
  margin-top: 35px;
  border-bottom: 3px solid #676767;
  font-family: "Arimo";
  font-weight: 700;
  color: #676767;
  cursor: pointer;
  /* Seleção do primeiro item da navegação (destaque visual) */
}
#navAllTask a {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
#navAllTask i {
  font-size: 30px;
}
#navAllTask .itemNavTask:first-child {
  color: black;
  border-bottom: 5px solid black;
}

/* Estilos para a tabela de tarefas */
#tableTasks {
  margin-top: 50px;
}

/* Estilos gerais para a tabela de tarefas */
#tasks {
  width: 100%;
  border-collapse: collapse;
  /* Estilos para as células da tabela, exceto a última */
}
#tasks tr {
  border-bottom: 2px solid #676767;
}
#tasks td:not(:last-child) {
  border-right: 2px solid #676767;
}
#tasks td {
  padding: 3px 0;
}
#tasks td:last-child {
  padding-left: 5px;
}

/* Cabeçalho da tabela (nome das colunas) */
#tableTitle {
  color: #676767;
  text-align: left;
  font-family: "Open Sans";
  /* Estilos para as células de cabeçalho, exceto a última */
  /* Definições de largura para as colunas da tabela */
}
#tableTitle th {
  padding-left: 5px;
  padding-bottom: 4px;
}
#tableTitle th:not(:last-child) {
  border-right: 2px solid #676767;
}
#tableTitle .tarefas {
  width: 30%;
}
#tableTitle .status {
  width: 10%;
}
#tableTitle .responsavel {
  width: 10%;
}
#tableTitle .prazo {
  width: 10%;
}
#tableTitle .prioridade {
  width: 10%;
}
#tableTitle .descricao {
  width: 30%;
}

/* Seleciona todos os cabeçalhos <th>, exceto o primeiro e o último */
#tableTasks tr th:not(:first-child):not(:last-child) {
  text-align: center;
  padding-right: 5px;
}

/* Seleção da célula de descrição para limitar a largura e adicionar efeito de truncamento */
#tasks td.descricao {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Estilo da célula de tarefas, que inclui links */
.tarefas:not(th) {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
}
.tarefas:not(th) a {
  color: black;
}

.status:not(th) {
  font-family: "Arimo";
  font-weight: 700;
  font-size: 15px;
  color: white;
  text-align: center;
}
.status:not(th) span.fazer {
  background-color: #e80707;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}
.status:not(th) span.andamento {
  background-color: #e89507;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}
.status:not(th) span.concluida {
  background-color: #2bb631;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}
.status:not(th) span.arquivada {
  background-color: #676767;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}

.responsavel:not(th) {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  text-align: center;
}
.responsavel:not(th) a {
  color: inherit;
}

.prazo:not(th) {
  text-align: center;
}
.prazo:not(th) span {
  font-family: "Arimo";
  font-size: 14px;
  background-color: #676767;
  border-radius: 15px;
  padding: 2px 8px;
  color: white;
}

.prioridade:not(th) {
  font-family: "Arimo";
  font-weight: 700;
  font-size: 14px;
  color: white;
  text-align: center;
}
.prioridade:not(th) .alta {
  background-color: #a61010;
  padding: 3px 8px;
  border-radius: 4px;
}
.prioridade:not(th) .media {
  background-color: #965f00;
  padding: 3px 8px;
  border-radius: 4px;
}
.prioridade:not(th) .baixa {
  background-color: #1c7820;
  padding: 3px 8px;
  border-radius: 4px;
}

.descricao:not(th) {
  font-family: "Arimo";
  font-weight: 700;
  font-size: 13px;
}

/* Estilos principais para o layout da página */
#mainTaskManager {
  width: 100%;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container que engloba as tarefas e o conteúdo principal */
#containerAllTask {
  width: 95%;
  height: 90vh;
  margin-top: 10vh;
  border-radius: 35px;
  padding: 25px;
  background-color: white;
}

/* Cabeçalho que contém o título e a área de 'sair' */
#headerAllTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arimo";
  font-size: 25px;
  color: #676767;
  /* Seleção do ícone e área de 'sair' */
}
#headerAllTask #sair {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
#headerAllTask #sair i {
  margin-top: 3px;
}
#headerAllTask #sair:hover {
  color: black;
}

/* Navegação entre as seções 'Todos' e 'Quadro' */
#navAllTask {
  display: flex;
  gap: 100px;
  font-size: 25px;
  margin-top: 35px;
  border-bottom: 3px solid #676767;
  font-family: "Arimo";
  font-weight: 700;
  color: #676767;
  cursor: pointer;
  /* Seleção do primeiro item da navegação (destaque visual) */
}
#navAllTask a {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
#navAllTask i {
  font-size: 30px;
}
#navAllTask .itemNavTask:nth-child(2) {
  color: black;
  border-bottom: 5px solid black;
}

/* Estilos para a tabela de tarefas */
#tableTasks {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#container {
  border-radius: 15px;
  padding: 10px;
  color: white;
}
#container h3 {
  color: black;
}
#container a {
  color: white;
}
#container .tarefas {
  margin-left: 2px;
}
#container .responsavel {
  max-width: 70px;
}
#container .alta {
  background-color: #a61010;
  padding: 3px 8px;
  border-radius: 4px;
  max-width: 46px;
  margin-left: 5px;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
#container .media {
  background-color: #965f00;
  padding: 3px 8px;
  border-radius: 4px;
  max-width: 57px;
  margin-left: 5px;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
#container .baixa {
  background-color: #1c7820;
  padding: 3px 8px;
  border-radius: 4px;
  max-width: 55px;
  margin-left: 5px;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.taskFazer {
  background-color: #ff0000;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 3px;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 10px 0;
}

.taskAndamento {
  background-color: #ffa100;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 3px;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 10px 0;
}

.taskConcluida {
  background-color: #00a007;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 3px;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 10px 0;
}

.taskArquivada {
  background-color: #535353;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 3px;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 10px 0;
}

#headerFazer {
  display: flex;
  width: 100%;
  gap: 15px;
  font-family: "Arimo";
  font-weight: 700;
  text-align: center;
}

.fazer {
  background-color: #f58383;
}

.andamento {
  background-color: #ffd895;
}

.concluida {
  background-color: #c6ffc9;
}

.arquivada {
  background-color: #cecece;
}

div.fazer {
  width: 24.5%;
}

div.andamento {
  width: 24.5%;
}

div.concluida {
  width: 24.5%;
}

div.arquivada {
  width: 24.5%;
}

#AddFazer {
  background-color: #f58383;
  display: flex;
  align-items: center;
  height: 50px;
  border: 5px solid #ff0000;
  border-radius: 10px;
  padding-left: 15px;
  gap: 5px;
}

#container.fazer {
  position: relative;
}
#container.fazer #linkAddFazer {
  position: absolute;
  top: 103%;
  left: 1%;
  width: 98%;
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 12px;
}
#container.fazer #linkAddFazer i {
  font-size: 25px;
}

#AddAndamento {
  background-color: #ffd895;
  display: flex;
  align-items: center;
  height: 50px;
  border: 5px solid #ffa100;
  border-radius: 10px;
  padding-left: 15px;
  gap: 5px;
}

#container.andamento {
  position: relative;
}
#container.andamento #linkAddAndamento {
  position: absolute;
  top: 102%;
  left: 1%;
  width: 98%;
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 12px;
}
#container.andamento #linkAddAndamento i {
  font-size: 25px;
}

#AddConcluida {
  background-color: #c6ffc9;
  display: flex;
  align-items: center;
  height: 50px;
  border: 5px solid #00a007;
  border-radius: 10px;
  padding-left: 15px;
  gap: 5px;
}

#container.concluida {
  position: relative;
}
#container.concluida #linkAddConcluida {
  position: absolute;
  top: 103%;
  left: 1%;
  width: 98%;
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 12px;
}
#container.concluida #linkAddConcluida i {
  font-size: 25px;
}

#AddArquivada {
  background-color: #cecece;
  display: flex;
  align-items: center;
  height: 50px;
  border: 5px solid #535353;
  border-radius: 10px;
  padding-left: 15px;
  gap: 5px;
}

#container.arquivada {
  position: relative;
}
#container.arquivada #linkAddArquivada {
  position: absolute;
  top: 105%;
  left: 1%;
  width: 98%;
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 12px;
}
#container.arquivada #linkAddArquivada i {
  font-size: 25px;
}

span.fazer {
  background-color: #e80707;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}

span.andamento {
  background-color: #e89507;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}

span.concluida {
  background-color: #2bb631;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}

span.arquivada {
  background-color: #676767;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 15px;
}

#bodyAddTask {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#containerAddTask {
  background-color: white;
  width: 90%;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
}

.mainAddTask {
  background-color: #939393;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px !important;
  font-family: "Arimo";
  margin-top: 20px;
  position: relative;
}
.mainAddTask img {
  border-radius: 15px;
}
.mainAddTask input {
  all: unset;
  width: 400px;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 30px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.mainAddTask h3 {
  font-family: "Poppins";
  color: white !important;
}
.mainAddTask * {
  margin-bottom: 10px;
}
.mainAddTask a:hover {
  background-color: aqua;
}

.addTaskItems {
  display: flex;
  align-items: center;
}

#addTaskStatus h3 {
  margin-right: 130px;
}
#addTaskStatus span {
  font-family: "Arimo";
  font-weight: 700;
  margin-right: 5px;
  cursor: pointer;
}
#addTaskStatus i:last-of-type {
  color: #676767;
  cursor: pointer;
}

#addTaskPrioridade h3 {
  margin-right: 87px;
}
#addTaskPrioridade span {
  margin-right: 5px;
  cursor: pointer;
}
#addTaskPrioridade i:last-of-type {
  color: #676767;
  cursor: pointer;
}

#addTaskResponsavel {
  gap: 70px;
  width: 900px;
}
#addTaskResponsavel input {
  all: unset;
  background-color: #676767;
  width: 50%;
  border-radius: 5px;
  padding-left: 15px;
}
#addTaskResponsavel input::-moz-placeholder {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
}
#addTaskResponsavel input::placeholder {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
}

#addTaskPrazo {
  gap: 140px;
}
#addTaskPrazo input {
  all: unset;
  background-color: #676767;
  width: 33.7%;
  border-radius: 5px;
}
#addTaskPrazo input[type=date] {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  padding: 2px 10px;
}

#addTaskDescricao textarea {
  all: unset;
  background-color: #676767;
  width: 100%;
  border-radius: 5px;
  padding: 2px 10px;
}
#addTaskDescricao textarea::-moz-placeholder {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
}
#addTaskDescricao textarea::placeholder {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
}

#addTaskAdicionar {
  all: unset;
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  background-color: #676767;
  padding: 5px 30px;
  border-radius: 30px;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
}/*# sourceMappingURL=styles.css.map */